<div fxLayout="column">
    <div >
        <mat-card id="profile-left">
    
            <mat-card id="profile-picture-noPhoto" *ngIf="noPhoto">
                <button id="edit-profile-picture" mat-icon-button color="dark" (click)="addPhoto()">
                    <input type="file" accept="image/*" id="photo" required [ngModel]="user?.profilePicture"
                            name="image" (change)="updateFile($event)" style="display: none;">
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </mat-card>
            <mat-card id="profile-picture" *ngIf="!noPhoto">
                <img src="{{user?.profilePicture}}" >
                <button id="edit-profile-picture" mat-icon-button color="dark" (click)="addPhoto()">
                    <input type="file" accept="image/*" id="photo" required [ngModel]="user?.profilePicture"
                            name="image" (change)="updateFile($event)" style="display: none;">
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </mat-card>
            <br>
        </mat-card>
        
        <mat-card *ngIf="!editMode" id="profile-right">
            <mat-card-title>{{'PERSONAL-DETAILS' | translate}}</mat-card-title><br>
            <mat-list id="list-left">
                <mat-list-item>{{'First-Name' | translate }}<span>{{user?.firstName}}</span> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>{{'Last-Name' | translate }} <span>{{user?.lastName}}</span> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>{{'Email' | translate }}<span>{{user?.email}}</span> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>{{'User-Name' | translate}}<span>{{user?.username}}</span> </mat-list-item>
            </mat-list>
            
            <button id="edit-info" mat-icon-button color="dark" (click)="editForm()">
                {{'EDIT' | translate}}<mat-icon>mode_edit</mat-icon>
            </button>
        </mat-card>
        
        <mat-card *ngIf="editMode" id="profile-right">
            <mat-card-title>{{'EDIT-PERSONAL-DETAILS' | translate}}</mat-card-title><br>
            <mat-list id="list-left">
        
                <mat-list-item>{{'First-Name' | translate }} <input type="text" name="firstname" [(ngModel)]="user.firstName" minlength="2"
                    maxlength="20" autocomplete="off" matInput /> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>{{'Last-Name' | translate }} <input type="text" name="lastname" [(ngModel)]="user.lastName" minlength="2"
                    maxlength="20" autocomplete="off" matInput /> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>{{'Email' | translate }} <input type="email" matInput [(ngModel)]="user.email" name="email"
                    placeholder="Ex. pat@example.com" autocomplete="off"> </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>{{'User-Name' | translate}} <input type="text" matInput [(ngModel)]="user.username"  minlength="2" name="username"
                    maxlength="20" autocomplete="off"> </mat-list-item>
        
            </mat-list>
        
            <button id="edit-info" mat-icon-button color="dark" (click)="editForm()">
                {{'BACK' | translate}} <mat-icon>mode_edit</mat-icon>
            </button>
            <button  id="edit-info1" mat-icon-button color="dark" (click)="updateUser()">
                {{'Update-Profile' | translate}} <mat-icon>check</mat-icon>
            </button>
        </mat-card>    
    </div>
    <div fxLayoutAlign="space-between center" style="padding: 0; margin-top: 50px;">
        <div fxFlex="48">
            <mat-card style="height: 300px; margin-left:30px ;">
                <mat-card-header style="text-align: center; font-size: x-large; justify-content:center;" ><b>{{'My-friends' | translate}} </b></mat-card-header>
                <div *ngIf="userFriends.length!=0" style="margin-top: 20px; overflow-y: auto;">
                        <div fxFlex="row" fxLayoutAlign="start center" *ngFor="let friend of userFriends">
                                <button mat-button *ngIf="friend.profilePicture!=null" (click)="viewFriendProfile(friend)"><img class="friend" src="{{friend.profilePicture}}" >
                                {{friend.username}}</button>
                                <button mat-button *ngIf="friend.profilePicture==null" (click)="viewFriendProfile(friend)"><img class="friend" src="../../assets/220px-User_icon_2.svg.png" >
                            {{friend.username}}</button>
                        </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex="48" >
            <mat-card style="height: 300px; margin-right:30px ;">
                <mat-card-header style="text-align: center; font-size: x-large; justify-content:center;" ><b>{{'My-courses' | translate}} </b></mat-card-header>
                <div *ngIf="user?.courses" style="margin-top: 20px; overflow-y: auto;">
                        <div fxFlex="row" fxLayoutAlign="start center" *ngFor="let course of user.courses">
                            <button mat-button color="dark" (click)="courseDetails(course)">
                                <mat-icon matTooltip="{{'Course-details' | translate}}">description</mat-icon>
                                <span>{{course}}</span>
                            </button>
                        </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
